@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles from slideJS */
/* // Default theme */
@splidejs /react-splide/css;

/* // or other themes */
@splidejs /react-splide/css/skyblue;
@splidejs /react-splide/css/sea-green;

/* // or only core styles */
@splidejs /react-splide/css/core;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
